# dotenv
source_env_if_exists .envrc.local

# -------- [SHEPHERD] ---------
export SHEPHERD_WORKDIR="$PWD/.shepherd"

# -------- [RUST] ---------
export CARGO_TERM_COLOR=always
export RUST_BACKTRACE=full
export RUST_LOG="info"
export RUSTC_WRAPPER=sccache

load_secret CARGO_REGISTRY_TOKEN cargo-registry-token
